@import '@joint/plus/joint-plus.css';

#stencil-container {
     width: 100px;
     border: 1px solid #ccc;
     background-color: #f9f9f9;
     height: 900px;
  }
  #paper-container {
    height: 900px;
    width: 900px;
    border: 1px solid #ccc;
  }
  .invalid-drop-target {
    stroke: #940027;
  }
  .caret{
    display: none;
  }
  .container{
    width: 1000px;
    height: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  #stencil-container .joint-stencil ,  #stencil-container .joint-stencil > .content{
    position:relative;
  }