/* You can add global styles to this file, and also import other style files */

#palette {
  background-color: #f0f0f0; /* Light gray background for the palette */
  border: 1px solid #ccc; /* Light border */
}

#paper {
  background-color: #ffffff; /* White background for the paper */
  border: 1px solid #ccc; /* Light border */
}
